.middle {
  width: 100%;
  text-align: center;
}
.middle h1 {
  font-family: "Inter", sans-serif;
  color: #fff;
}
.middle input[type="radio"] {
  display: none;
}
.middle input[type="radio"]:checked + .box {
  background-color: #007e90;
}
.middle input[type="radio"]:checked + .box span {
  color: rgb(255, 255, 255);
  transform: translateY(10px);
} 

.middle .box {
  width: 100px;
  height: 40px;
  margin: 10px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 85%);
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.middle .box span {
  position: absolute;
  transform: translate(0, 10px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 0.8em;
  user-select: none;
  color: #007e90;
}
.middle .box span:before {
  font-size: 0.8em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(10px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
} 

/* heigt input */
 
.unit {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-60%);
  font-weight: bold;
  color: #004085;  
}
 #bmi{
  height: 40px;
  width: 80px;

 }
 #needle{
  transform: translateY(-210px) rotate(-90deg);
   transform-origin: bottom center; 
   transition: transform 0.5s ease-out;
 } 

 #suggestions{
  transform: translateY(-180px);  
 }


 /* slider */
 .input-slider {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.input-slider input[type="range"] {
  width: 100%;
}
.input-slider .slider-value {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  font-weight: bold;
  color: #004085;
}


/* result style */
 